/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url('/static/images/background1.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.plant-image img {
    width: 100%; /* Adjust width as needed, or use max-width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Removes bottom space/margin */
    margin: 20px 0; /* Adds vertical space before and after the image */
}


.centered-content {
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    height: 100vh; /* This sets the height of the container to the full viewport height */
    text-align: center;
}

h1, h2, footer, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

.links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: rgb(84, 44, 194);
}

footer .footer-content {
    display: flex; /* Enables flexbox */
    justify-content: space-between; /* Distributes space evenly between the items */
    align-items: center; /* Vertically centers the items in the footer */
    padding: 10px 20px; /* Adds padding around the content */
    text-align: center; /* Ensures text is centered if it wraps to a new line */
}

footer .footer-content span {
    flex: 1; /* Each span will take up equal space in the footer */
    text-align: center; /* Centers text within each span */
}

.full-page-form {
    background-color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.welcome-header {
    width: 100%; /* Take full width of the form */
    margin-bottom: 20px; /* Adds space below the header */
}

.welcome-header h1 {
    margin-top: 0;
    margin-bottom: 10px; /* Manage space below the title */
    padding-bottom: 10px; /* Extra padding if needed */
    border-bottom: 2px solid #ccc; /* Optional: adds a line to separate from rest of content */
}


.logo {
    display: block;
    margin: 20px auto; /* Horizontal auto margins center the block-level image */
    max-height: 150px; /* Constrain the maximum height */
    max-width: 100%; /* Constrain the maximum width, just in case */
    height: auto; /* Maintain aspect ratio */
    width: auto; /* Maintain aspect ratio */
}


body, html {
    height: 100%;
    background-color: #ccffcc;
    font-family: 'Arial', sans-serif;
}

/* Centered form styles */
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This will vertically center if the parent's height is set */
    min-height: 50vh; /* Full height of the viewport */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px; /* Adjust width as needed */
}

input[type="text"], input[type="password"], .btn {
    width: calc(100% - 24px); /* Adjusted width to account for padding */
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button, .btn, .back-to-login, .back-to-register {
    background-color: #4CAF50; /* Green */
    color: white; /* Text color */
    padding: 14px 20px;
    margin: 8px 0; /* Space between buttons */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for links */
    text-align: center; /* Center text for links */
    display: block; /* Force links to be block elements */
    width: 200px; /* Ensure buttons are the same width */
}

button:hover, .btn:hover, .back-to-login:hover, .back-to-register:hover {
    background-color: #45a049; /* Darker green on hover */
}

.flash, .error {
    color: white; /* Error message text color */
    background-color: #f8d7da; /* Error message background color */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: calc(100% - 40px); /* Adjust width to match form elements */
    box-sizing: border-box;
}

/* Full width for the taskbar and fixed to the top */
.taskbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

.taskbar li {
    float: left;
}

.taskbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.taskbar li a:hover, .taskbar li a.active {
    background-color: #4CAF50;
}

main, .content-container {
    padding-top: 70px; /* Adjust based on the taskbar's actual height */
}

.plant-info p {
    font-size: 14px;
    color: #666;
}

.bookmark-btn {
    cursor: pointer;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    transition: color 0.3s; /* Add smooth color transition */
}

.bookmark-btn.bookmarked {
    color: #007bff; /* Blue color for the bookmarked state */
}

.temp-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}
