/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page-background {
    background-image: url('images/background1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed during scroll */
}


/* Centered form styles */
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px; /* Adjust width as needed */
}

input[type="text"], input[type="password"], .btn {
    width: calc(100% - 24px); /* Adjusted width to account for padding */
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button, .btn, .back-to-login, .back-to-register {
    background-color: #4CAF50; /* Green */
    color: white; /* Text color */
    padding: 14px 20px;
    margin: 8px 0; /* Space between buttons */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for links */
    text-align: center; /* Center text for links */
    display: block; /* Force links to be block elements */
    /* width: calc(100% - 40px); Ensure buttons are the same width */
    width: 230px;
}

button:hover, .btn:hover, .back-to-login:hover, .back-to-register:hover {
    background-color: #45a049; /* Darker green on hover */
}

.flash, .error {
    color: white; /* Error message text color */
    background-color: #f8d7da; /* Error message background color */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: calc(100% - 40px); /* Adjust width to match form elements */
    box-sizing: border-box;
}

/* Full width for the taskbar and fixed to the top */
.taskbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

.taskbar li {
    float: left;
}

.taskbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.taskbar li a:hover, .taskbar li a.active {
    background-color: #4CAF50;
}

main, .content-container {
    padding-top: 70px; /* Adjust based on the taskbar's actual height */
}

.plant-info p {
    font-size: 14px;
    color: #666;
}

.bookmark-btn {
    cursor: pointer;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    transition: color 0.3s; /* Add smooth color transition */
}

.bookmark-btn.bookmarked {
    color: #007bff; /* Blue color for the bookmarked state */
}




.temp-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This will vertically center if the parent's height is set */
    min-height: 50vh; /* Full height of the viewport */
}

