{% extends 'base.html' %}
 
{% block content %}
<style>
    .plant-box {
        position: relative;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
        color: black;
    }
 
    .guide {
        margin-bottom: 10px;
    }
 
    .scientific-name {
        margin-bottom: 15px;
    }
 
    .delete-btn {
        padding: 5px 10px;
        font-size: 14px;
        background-color: #ff6666;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
 
    .delete-btn:hover {
        background-color: #ff4d4d;
    }
</style>
 
<div id="favorites-container" class="container mt-5">
    {% for favorite in favorites %}
    <div class="plant-box">
        <div class="plant-info">
            <p><strong>Common Name:</strong> {{ favorite.plant_name }}</p>
            <p><strong>Scientific Name:</strong> {{ favorite.scientific_name }}</p>
            <p><strong>Guide Type:</strong> {{ favorite.guide_type }}</p>
            <p><strong>Guide Description:</strong> {{ favorite.guide_description }}</p>
            <form action="/api/remove_bookmark" method="post" class="delete-form">
                <input type="hidden" name="bookmark_id" value="{{ favorite.id }}">
                <button type="submit" class="delete-btn">Delete</button> <!-- Updated button for removing bookmarks -->
            </form>
        </div>
    </div>
    {% else %}
    <div class="centered-content">
        <p>You have no favorite plants yet!</p>
    </div>
        {% endfor %}
</div>
 
{% endblock %}
 
{% block scripts %}
<script>
    $(document).ready(function() {
        $('.delete-form').submit(function(event) {
            event.preventDefault(); // Prevent default form submission behavior
           
            // Get the form data
            var formData = $(this).serialize();
           
            // Reference to the current form
            var currentForm = $(this);
           
            // Submit the form via AJAX
            $.ajax({
                url: '/api/remove_bookmark',
                type: 'POST',
                data: formData,
                success: function(response) {
                    alert(response.message); // Notify the user of success
                    // Remove the plant box from the UI
                    currentForm.closest('.plant-box').remove();
                },
                error: function(xhr) {
                    // Notify the user of failure
                    alert('Error deleting bookmark: ' + xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock %}