{% extends 'base.html' %}

{% block content %}
<div id="favorites-container">
    {% for favorite in favorites %}
    <div class="plant-card">
        
        <div class="plant-info">

        </div>
        <i class="fas fa-times bookmark-btn" data-plant-name="{{ favorite.plant_name }}" onclick="unbookmarkPlant(this)"></i>
    </div>
    {% else %}
    <p>You have no favorite plants yet.</p>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('#favorites-container').on('click', '.bookmark-btn', function() {
        var button = this;
        var plantName = $(this).data('plant-name');
        window.unbookmarkPlant(button);
    });
});
</script>
{% endblock %}